@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'media/media_header';
@import 'media/media_buttons';
@import 'media/media_promo';
@import 'media/media_advantages';