.reviews {
    padding-bottom: 60px;
    &__wrapper {
        padding: 0 20px;
    }
    &__item {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    &__img {
        max-width: 169px;
        max-height: 169px;
        margin-right: 60px;
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    &__descr {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
    }
}